Repository ingot-cloud/ingot-admin: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-admin, build-login

build-admin:
  image: node:20.9.0
  before_script:
  - corepack enable
  - corepack prepare pnpm@10.12.4 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm config set registry https://registry.npmmirror.com
  - pnpm install --frozen-lockfile
  tags:
  - ingot
  stage: build
  variables:
    PROJECT: apps/ingot-admin
  script:
  ...

build-login:
  image: node:20.9.0
  before_script:
  - corepack enable
  - corepack prepare pnpm@10.12.4 --activate
  - pnpm config set store-dir .pnpm-store
  - pnpm config set registry https://registry.npmmirror.com
  - pnpm install --frozen-lockfile
  tags:
  - ingot
  stage: build
  variables:
    PROJECT: apps/ingot-login
  script:
  ...

refactor(user): 系统用户，默认可以设置username
  apps/ingot-admin/src/models/user.ts
  apps/ingot-admin/src/pages/platform/system/user/components/BaseInfoForm.vue
  apps/ingot-admin/src/pages/platform/system/user/components/CreateDrawer.vue
Due: build-admin

refactor: 修改client api地址
  apps/ingot-admin/src/api/platform/dev/client.ts
Due: build-admin

feat: 增加在线用户管理
  apps/ingot-admin/components.d.ts
  apps/ingot-admin/src/api/platform/auth/token.ts
  apps/ingot-admin/src/components/biz/ClientSelect.vue
  apps/ingot-admin/src/components/biz/TenantSelect.vue
  apps/ingot-admin/src/components/select/InPageSelect.vue
  apps/ingot-admin/src/components/select/index.ts
  apps/ingot-admin/src/components/select/types.ts
  apps/ingot-admin/src/components/table/InRadioTable.vue
  apps/ingot-admin/src/components/table/InTable.vue
  apps/ingot-admin/src/models/index.ts
  apps/ingot-admin/src/models/token.ts
  apps/ingot-admin/src/pages/org/contacts/dept/IndexPage.vue
  apps/ingot-admin/src/pages/org/contacts/dept/components/EditDrawer.vue
  apps/ingot-admin/src/pages/platform/meta/menu/table.ts
  apps/ingot-admin/src/pages/platform/system/onlinetoken/IndexPage.vue
  apps/ingot-admin/src/pages/platform/system/onlinetoken/table.ts
  apps/ingot-admin/src/pages/platform/system/user/IndexPage.vue
  apps/ingot-admin/src/stores/modules/org/dept.ts
Due: build-admin

refactor: 代码优化，优化build
  README.md
  apps/ingot-admin/package.json
  apps/ingot-admin/src/components/table/InRadioTable.vue
  apps/ingot-admin/src/components/table/InTable.vue
  apps/ingot-admin/src/components/table/props.ts
  apps/ingot-admin/src/pages/org/contacts/dept/IndexPage.vue
  apps/ingot-admin/src/pages/org/contacts/dept/components/EditDrawer.vue
  apps/ingot-admin/src/pages/platform/member/permission/EditDrawer.vue
  apps/ingot-admin/src/pages/platform/meta/app/EditDrawer.vue
  apps/ingot-admin/src/pages/platform/meta/menu/EditDrawer.vue
  apps/ingot-admin/src/pages/platform/meta/permission/EditDrawer.vue
  apps/ingot-admin/src/stores/modules/org/dept.ts
  docs/getting-started.md
  docs/monorepo-build-optimization.md
  eslint.config.base.ts
  package.json
  pnpm-lock.yaml
  tsconfig.vue-base.json
Due: build-admin, build-login

refactor: 组织用户管理逻辑优化
  .vscode/settings.json
  apps/ingot-admin/src/pages/org/contacts/user/useUserOps.ts
Due: build-admin

refactor: 密码初始化&sso-callback移植到common包
  apps/ingot-admin/src/pages/common/init/IndexPage.vue
  apps/ingot-admin/src/pages/common/sso-callback/IndexPage.vue
  apps/ingot-admin/src/router/routes/common.ts
  apps/ingot-admin/src/router/routes/index.ts
  apps/ingot-admin/src/router/routes/security.ts
Due: build-admin

feat: 密码策略
  apps/ingot-admin/src/api/platform/security/credential.ts
  apps/ingot-admin/src/models/credential.ts
  apps/ingot-admin/src/models/enums/credentialEnums.ts
  apps/ingot-admin/src/models/enums/index.ts
  apps/ingot-admin/src/models/index.ts
  apps/ingot-admin/src/pages/platform/security/credential/EditDrawer.vue
  apps/ingot-admin/src/pages/platform/security/credential/IndexPage.vue
  apps/ingot-admin/src/pages/platform/security/credential/PolicyDisplayView.vue
  apps/ingot-admin/src/pages/platform/security/credential/table.ts
  apps/ingot-admin/src/pages/platform/security/credential/view/ExpirationView.vue
  apps/ingot-admin/src/pages/platform/security/credential/view/HistoryView.vue
  apps/ingot-admin/src/pages/platform/security/credential/view/StrengthView.vue
Due: build-admin

refactor: 优化密码策略逻辑
  apps/ingot-admin/src/pages/platform/security/credential/EditDrawer.vue
  apps/ingot-admin/src/pages/platform/security/credential/view/ExpirationView.vue
  apps/ingot-admin/src/pages/platform/security/credential/view/HistoryView.vue
  apps/ingot-admin/src/pages/platform/security/credential/view/StrengthView.vue
Due: build-admin

refactor: 用户状态修改为可用和锁定两个
  apps/ingot-admin/components.d.ts
  apps/ingot-admin/package.json
  apps/ingot-admin/src/api/platform/system/user.ts
  apps/ingot-admin/src/components/biz/user/AccountStatusEditButton.vue
  apps/ingot-admin/src/components/biz/user/AccountStatusView.vue
  apps/ingot-admin/src/models/user.ts
  apps/ingot-admin/src/pages/platform/system/user/IndexPage.vue
  apps/ingot-admin/src/pages/platform/system/user/table.ts
  pnpm-lock.yaml
Due: build-admin, build-login

feat: 内部系统不使用Bearer Token
  apps/ingot-admin/.env
  apps/ingot-admin/.env.production
  apps/ingot-admin/env.d.ts
  apps/ingot-admin/src/api/common/auth.ts
  apps/ingot-admin/src/hooks/biz/useLogin.ts
  apps/ingot-admin/src/models/security.ts
  apps/ingot-admin/src/net/interceptor/request/header.ts
  apps/ingot-admin/src/net/interceptor/response/biz.ts
  apps/ingot-admin/src/net/status-code.ts
  apps/ingot-admin/src/pages/common/sso-callback/IndexPage.vue
  apps/ingot-admin/src/router/guard/authGuard.ts
  apps/ingot-admin/src/router/guard/index.ts
  apps/ingot-admin/src/router/routes/common.ts
  apps/ingot-admin/src/stores/modules/app.ts
  apps/ingot-admin/src/stores/modules/auth.ts
  apps/ingot-admin/src/stores/types/index.ts
  apps/ingot-login/.env
  apps/ingot-login/env.d.ts
  apps/ingot-login/src/api/challenge.ts
  apps/ingot-login/src/models/security.ts
  apps/ingot-login/src/net/interceptor/request.ts
  apps/ingot-login/src/pages/oauth2/challenge/select-tenant/SelectTenant.vue
  apps/ingot-login/src/router/index.ts
  apps/ingot-login/src/stores/modules/app.ts
  apps/ingot-login/src/stores/modules/login.ts
  apps/ingot-login/src/stores/types/index.ts
  apps/ingot-login/src/utils/index.ts
  packages/utils/src/fingerprint.ts
  packages/utils/src/index.ts
Due: build-admin, build-login

refactor: 创建用户弹出初始密码
  apps/ingot-admin/src/pages/org/contacts/user/table.ts
  apps/ingot-admin/src/pages/platform/system/user/IndexPage.vue
  apps/ingot-admin/src/pages/platform/system/user/components/CreateDrawer.vue
Due: build-admin

refactor: 初始化强制修改密码逻辑优化
  apps/ingot-admin/src/models/security.ts
  apps/ingot-admin/src/pages/common/init/IndexPage.vue
  apps/ingot-admin/src/stores/modules/auth.ts
Due: build-admin

refactor: member用户管理账号锁定以及禁用相关逻辑
  apps/ingot-admin/src/api/platform/member/user.ts
  apps/ingot-admin/src/components/biz/user/AccountStatusEditButton.vue
  apps/ingot-admin/src/components/biz/user/types.ts
  apps/ingot-admin/src/models/user.ts
  apps/ingot-admin/src/pages/platform/member/user/IndexPage.vue
  apps/ingot-admin/src/pages/platform/system/user/IndexPage.vue
Due: build-admin

feat: 字典管理
  apps/ingot-admin/components.d.ts
  apps/ingot-admin/src/api/platform/base/dict.ts
  apps/ingot-admin/src/models/dict.ts
  apps/ingot-admin/src/models/enums/dictEnums.ts
  apps/ingot-admin/src/models/enums/index.ts
  apps/ingot-admin/src/models/index.ts
  apps/ingot-admin/src/pages/platform/base/dict/IndexPage.vue
  apps/ingot-admin/src/pages/platform/base/dict/ItemEditDrawer.vue
  apps/ingot-admin/src/pages/platform/base/dict/TypeEditDrawer.vue
  apps/ingot-admin/src/pages/platform/base/dict/components/LeftContent.vue
  apps/ingot-admin/src/pages/platform/base/dict/table.ts
Due: build-admin

docs: 提交spec
  specs/CONSTITUTION.md
  specs/README.md
  specs/changes/active/.gitkeep
  specs/changes/active/application-authorization/API.md
  specs/changes/active/application-authorization/DESIGN.md
  specs/changes/active/application-authorization/REQUIREMENTS.md
  specs/changes/archive/.gitkeep
  specs/current/.gitkeep
  specs/templates/change/DESIGN.md
  specs/templates/change/README.md
  specs/templates/change/REQUIREMENTS.md
  specs/templates/change/TASKS.md
  specs/templates/change/phases/README.md
  specs/templates/current/README.md
  specs/templates/current/spec.md
Due: none

refactor: 菜单增加备注
  apps/ingot-admin/src/models/menu.ts
  apps/ingot-admin/src/pages/platform/config/app/detail/components/MenuEditDrawer.vue
  apps/ingot-admin/src/pages/platform/config/app/detail/components/menuTable.ts
  apps/ingot-admin/src/pages/platform/config/menu/table.ts
Due: build-admin

refactor: 修改创建应用应用编码正则
  apps/ingot-admin/src/pages/platform/config/app/home/components/CreateDrawer.vue
Due: build-admin

refactor: 修改菜单编辑无法修改自定义视图bug
  apps/ingot-admin/src/pages/platform/config/app/detail/components/MenuEditDrawer.vue
Due: build-admin

refactor: 修改创建用户默认提示
  apps/ingot-admin/src/pages/org/contacts/user/components/EditDrawer.vue
  apps/ingot-admin/src/pages/platform/config/role/components/RoleDrawer.vue
Due: build-admin

refactor: web crypto api 降级
  apps/ingot-admin/.env
  docs/envelope-crypto.md
  packages/crypto/README.md
  packages/crypto/package.json
  packages/crypto/src/aes-gcm.ts
  packages/crypto/src/index.ts
  packages/crypto/src/provider.ts
  packages/crypto/src/rsa-oaep.ts
  packages/crypto/src/webcrypto-liner.d.ts
  pnpm-lock.yaml
Due: build-admin, build-login

chore: fix env
  apps/ingot-admin/.env
Due: build-admin

refactor: 修改指纹Header
  apps/ingot-admin/Dockerfile
  apps/ingot-admin/build-web.sh
  apps/ingot-admin/proxy.conf
  apps/ingot-admin/src/net/interceptor/request/header.ts
  apps/ingot-login/Dockerfile
  apps/ingot-login/build-web.sh
  apps/ingot-login/proxy.conf
  apps/ingot-login/src/net/interceptor/request.ts
Due: build-admin, build-login

refactor: 修改加密协议头
  packages/crypto/src/types.ts
Due: build-admin, build-login

refactor: 优化安全中心，策略配置
  apps/ingot-admin/src/models/credential.ts
  apps/ingot-admin/src/models/enums/credentialEnums.ts
  apps/ingot-admin/src/pages/platform/security/credential/EditDrawer.vue
  apps/ingot-admin/src/pages/platform/security/credential/IndexPage.vue
  apps/ingot-admin/src/pages/platform/security/credential/PolicyDisplayView.vue
  apps/ingot-admin/src/pages/platform/security/credential/components/PolicyTabPanel.vue
  apps/ingot-admin/src/pages/platform/security/credential/table.ts
  apps/ingot-admin/src/pages/platform/security/credential/useCredentialPolicy.ts
  apps/ingot-admin/src/pages/platform/security/credential/view/ExpirationView.vue
  apps/ingot-admin/src/pages/platform/security/credential/view/HistoryView.vue
  apps/ingot-admin/src/pages/platform/security/credential/view/InitialPasswordView.vue
  apps/ingot-admin/src/pages/platform/security/credential/view/StrengthView.vue
Due: build-admin

feat: 安全中心增加限流防护管理页面
  apps/ingot-admin/src/api/platform/security/loginFailurePolicy.ts
  apps/ingot-admin/src/api/platform/security/policy.ts
  apps/ingot-admin/src/models/accessProtection.ts
  apps/ingot-admin/src/models/enums/accessProtectionEnums.ts
  apps/ingot-admin/src/models/enums/index.ts
  apps/ingot-admin/src/models/index.ts
  apps/ingot-admin/src/pages/platform/security/access-protection/IndexPage.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/BlockEventPanel.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/EndpointGroupDrawer.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/EndpointGroupPanel.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/IpListDrawer.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/IpListPanel.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/LoginFailureDimensionPanel.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/LoginFailurePanel.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/PatternListEditor.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/RateLimitRuleDrawer.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/RateLimitRulePanel.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/components/ViolationEscalationPanel.vue
  apps/ingot-admin/src/pages/platform/security/access-protection/table/blockEventTable.ts
  apps/ingot-admin/src/pages/platform/security/access-protection/table/endpointGroupTable.ts
  apps/ingot-admin/src/pages/platform/security/access-protection/table/ipListTable.ts
  apps/ingot-admin/src/pages/platform/security/access-protection/table/rateLimitTable.ts
  apps/ingot-admin/src/pages/platform/security/access-protection/use/useGatewayPolicy.ts
  apps/ingot-admin/src/pages/platform/security/access-protection/use/useLoginFailurePolicy.ts
  apps/ingot-admin/src/pages/platform/security/access-protection/use/useViolationEscalation.ts
Due: build-admin

docs: 优化SPEC，增加AGENTS
  AGENTS.md
  README.md
  specs/CONSTITUTION.md
  specs/README.md
  specs/changes/active/application-authorization/API.md
  specs/changes/active/application-authorization/DESIGN.md
  specs/changes/active/application-authorization/REQUIREMENTS.md
  specs/inbox/.gitkeep
  specs/inbox/README.md
  specs/templates/change/API.md
  specs/templates/change/DESIGN.md
  specs/templates/change/README.md
  specs/templates/change/REQUIREMENTS.md
  specs/templates/change/TASKS.md
  specs/templates/current/README.md
  specs/templates/current/spec.md
Due: none

docs: 更新spec
  specs/changes/archive/2026/20260820-security-session-management/API.md
  specs/changes/archive/2026/20260820-security-session-management/DESIGN.md
  specs/changes/archive/2026/20260820-security-session-management/README.md
  specs/changes/archive/2026/20260820-security-session-management/REQUIREMENTS.md
  specs/changes/archive/2026/20260820-security-session-management/TASKS.md
  specs/current/security/session-management/README.md
  specs/current/security/session-management/spec.md
Due: none

feat: 在线会话页面逻辑
  apps/ingot-admin/src/api/platform/auth/token.ts
  apps/ingot-admin/src/api/platform/security/concurrencyPolicy.ts
  apps/ingot-admin/src/api/platform/security/session.ts
  apps/ingot-admin/src/components/biz/ClientSelect.vue
  apps/ingot-admin/src/models/enums/clientEnums.ts
  apps/ingot-admin/src/models/enums/index.ts
  apps/ingot-admin/src/models/enums/sessionEnums.ts
  apps/ingot-admin/src/models/index.ts
  apps/ingot-admin/src/models/session.ts
  apps/ingot-admin/src/models/token.ts
  apps/ingot-admin/src/pages/platform/security/onlinetoken/IndexPage.vue
  apps/ingot-admin/src/pages/platform/security/onlinetoken/components/ClientIdField.vue
  apps/ingot-admin/src/pages/platform/security/onlinetoken/components/ConcurrencyPolicyDrawer.vue
  apps/ingot-admin/src/pages/platform/security/onlinetoken/components/ConcurrencyPolicyPanel.vue
  apps/ingot-admin/src/pages/platform/security/onlinetoken/components/SessionDetailDrawer.vue
  apps/ingot-admin/src/pages/platform/security/onlinetoken/components/SessionListPanel.vue
  apps/ingot-admin/src/pages/platform/security/onlinetoken/constants.ts
  apps/ingot-admin/src/pages/platform/security/onlinetoken/policyTable.ts
  apps/ingot-admin/src/pages/platform/security/onlinetoken/sessionDisplay.ts
  apps/ingot-admin/src/pages/platform/security/onlinetoken/table.ts
  apps/ingot-admin/src/pages/platform/security/onlinetoken/useCanQueryClient.ts
  apps/ingot-admin/src/pages/platform/security/onlinetoken/useConcurrencyPolicy.ts
  apps/ingot-admin/src/pages/platform/security/onlinetoken/useOps.ts
Due: build-admin

docs: 安全中心，账号锁定spec
  specs/changes/archive/2026/20260825-security-account-protection/API.md
  specs/changes/archive/2026/20260825-security-account-protection/DESIGN.md
  specs/changes/archive/2026/20260825-security-account-protection/README.md
  specs/changes/archive/2026/20260825-security-account-protection/REQUIREMENTS.md
  specs/changes/archive/2026/20260825-security-account-protection/TASKS.md
  specs/current/security/account-protection/README.md
  specs/current/security/account-protection/spec.md
Due: none

feat: 安全中心-账号锁定
  apps/ingot-admin/src/api/platform/security/accountLockoutPolicy.ts
  apps/ingot-admin/src/models/accountLockout.ts
  apps/ingot-admin/src/models/enums/accountProtectionEnums.ts
  apps/ingot-admin/src/models/enums/index.ts
  apps/ingot-admin/src/models/index.ts
  apps/ingot-admin/src/pages/platform/security/account-protection/IndexPage.vue
  apps/ingot-admin/src/pages/platform/security/account-protection/components/LockoutPolicyColumn.vue
  apps/ingot-admin/src/pages/platform/security/account-protection/components/LockoutPolicyPanel.vue
  apps/ingot-admin/src/pages/platform/security/account-protection/constants.ts
  apps/ingot-admin/src/pages/platform/security/account-protection/use/useLockoutPolicy.ts
Due: build-admin

docs: 归档spec
  specs/changes/active/20260827-security-challenge-verification/API.md
  specs/changes/active/20260827-security-challenge-verification/DESIGN.md
  specs/changes/active/20260827-security-challenge-verification/README.md
  specs/changes/active/20260827-security-challenge-verification/REQUIREMENTS.md
  specs/changes/active/20260827-security-challenge-verification/TASKS.md
Due: none

docs: 归档spec
  specs/changes/archive/2026/20260827-security-challenge-verification/API.md
  specs/changes/archive/2026/20260827-security-challenge-verification/DESIGN.md
  specs/changes/archive/2026/20260827-security-challenge-verification/README.md
  specs/changes/archive/2026/20260827-security-challenge-verification/REQUIREMENTS.md
  specs/changes/archive/2026/20260827-security-challenge-verification/TASKS.md
  specs/current/common/gateway-challenge/README.md
  specs/current/common/gateway-challenge/spec.md
  specs/current/ingot-login/password-login/README.md
  specs/current/ingot-login/password-login/spec.md
  specs/current/security/access-protection/README.md
  specs/current/security/access-protection/spec.md
Due: none

docs: 插件化 spec
  specs/changes/active/20260829-packages-composable-admin-runtime/API.md
  specs/changes/active/20260829-packages-composable-admin-runtime/DESIGN.md
  specs/changes/active/20260829-packages-composable-admin-runtime/README.md
  specs/changes/active/20260829-packages-composable-admin-runtime/REQUIREMENTS.md
  specs/changes/active/20260829-packages-composable-admin-runtime/TASKS.md
  specs/changes/active/20260829-packages-composable-admin-runtime/phases/README.md
  specs/changes/active/20260829-packages-composable-admin-runtime/phases/phase-01-runtime/TASKS.md
  specs/changes/active/20260829-packages-composable-admin-runtime/phases/phase-02-migration/TASKS.md
  specs/changes/active/20260829-packages-composable-admin-runtime/phases/phase-03-target-delivery/TASKS.md
Due: none

docs: archive spec
  specs/changes/archive/2026/20260829-packages-stable-dependency-baseline/DESIGN.md
  specs/changes/archive/2026/20260829-packages-stable-dependency-baseline/README.md
  specs/changes/archive/2026/20260829-packages-stable-dependency-baseline/REQUIREMENTS.md
  specs/changes/archive/2026/20260829-packages-stable-dependency-baseline/TASKS.md
  specs/current/packages/stable-dependency-baseline/README.md
  specs/current/packages/stable-dependency-baseline/spec.md
Due: none

docs: 更新spec
  specs/changes/active/20260829-packages-composable-admin-runtime/API.md
  specs/changes/active/20260829-packages-composable-admin-runtime/DESIGN.md
  specs/changes/active/20260829-packages-composable-admin-runtime/README.md
  specs/changes/active/20260829-packages-composable-admin-runtime/REQUIREMENTS.md
  specs/changes/active/20260829-packages-composable-admin-runtime/phases/phase-01-runtime/TASKS.md
  specs/changes/active/20260829-packages-composable-admin-runtime/phases/phase-03-target-delivery/TASKS.md
Due: none

Path conditions:
  build-admin: any of: apps/ingot-admin/**/*, packages/**/*, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .gitlab-ci.yml
  build-login: any of: apps/ingot-login/**/*, packages/**/*, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .gitlab-ci.yml
